<div class="arts_listing_edit row" data-id="<%=art_listing.id %>">
  <div class="span3" style="overflow:hidden">
    <ul class="media-grid">
      <li>
        <a href="#">
          <h3><%= render :partial => "shared/art", :locals => {:type => art_listing.art1_type, :info => art_listing.art1_info, :width => 150}%></h3>
        </a>
      </li>
    </ul>
  </div>
  <div class="span3" style="overflow:hidden">
    <ul class="media-grid">
      <li>
        <a href="#">
          <h3><%= render :partial => "shared/art", :locals => {:type => art_listing.art2_type, :info => art_listing.art2_info, :width => 150}%></h3>
        </a>
      </li>
    </ul>
  </div>
  <div class="span3">
    <span style="font-weight:bold;"><%= art_listing.title %></span> @<%= art_listing.user.name %>
  </div>
</div>
