<div class="container">
  <h1><%= @art.title %></h1>
  <div class="row">
    <div class="span5">
      <h3><%= @owner.email%> <h3>
      <button class="btn info">Follow</button> <span class="label">2 Works of Art</span> 
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="span8">
      <ul class="media-grid">
        <li>
          <a href="#">
            <h1><%= render :partial => "shared/art", :locals => {:type => @art.art1_type, :info => @art.art1_info, :width => '400'}%></h1>
          </a>
        </li>
      </ul>
    </div>
    <div class="span8">
      <ul class="media-grid">
        <li>
          <a href="#">
            <h1><%= render :partial => "shared/art", :locals => {:type => @art.art2_type, :info => @art.art2_info, :width => '400'}%></h1>
          </a>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span16">
      <ul class="media-grid">
        <li>
          <a href="#">
            <h3><%= raw @art.description %></h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span16">
      <% if @favorited.empty? %>
        <button id="add_to_favorites" data-art-id="<%=@art.id%>" class="btn info">Add to Favorites</button>
      <% else %>
        <button id="favorited" data-art-id="<%=@art.id%>" class="btn info">Favorited</button>
      <% end %>
      <button class="btn success">Share</button>
      <button class="btn danger">Flag</button>
      <div class="fb-like" data-href="http://www.jamesjn.com/areequal/arts/<%= @art.id %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
  </div>
  <div class="row">
    <div class="span16">
      Category: 
      <span class="label">
        <%= @art.category %> 
      </span>
      Tags:
      <span class="label">
        <%= @art.tags %> 
      </span
    </tagsdiv>
  </div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'jamesjn'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=152460108176191";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
