<!DOCTYPE html>
<html>
<head>
  <title>Areequal</title>
  <%= stylesheet_link_tag "bootstrap.min", "application"%>
  <%= javascript_include_tag "bootstrap-dropdown", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/menu" %>

<%= yield %>

</body>
</html>
